@import "tailwindcss";
@plugin "daisyui" {
    themes:
        light --default,
        dark --prefersdark;
}

html {
    font-family: system-ui, sans-serif;
    background-size: 224px;
    overflow-y: scroll;
}

@plugin "daisyui/theme" {
    name: "monolight";
    default: true;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(100% 0 0);
    --color-base-200: oklch(98% 0 0);
    --color-base-300: oklch(97% 0 0);
    --color-base-content: oklch(0% 0 0);
    --color-primary: oklch(0% 0 0);
    --color-primary-content: oklch(100% 0 0);
    --color-secondary: oklch(0% 0 0);
    --color-secondary-content: oklch(100% 0 0);
    --color-accent: oklch(0% 0 0);
    --color-accent-content: oklch(100% 0 0);
    --color-neutral: oklch(0% 0 0);
    --color-neutral-content: oklch(100% 0 0);
    --color-info: oklch(0% 0 0);
    --color-info-content: oklch(100% 0 0);
    --color-success: oklch(0% 0 0);
    --color-success-content: oklch(100% 0 0);
    --color-warning: oklch(0% 0 0);
    --color-warning-content: oklch(98% 0.026 102.212);
    --color-error: oklch(0.577 0.245 27.325);
    --color-error-content: oklch(100% 0 0);
    --radius-selector: 0.5rem;
    --radius-field: 0.5rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.21875rem;
    --border: 1px;
    --depth: 0;
    --noise: 1;
}

@plugin "daisyui/theme" {
    name: "monodark";
    default: false;
    prefersdark: false;
    color-scheme: "dark";
    --color-base-100: oklch(0% 0 0);
    --color-base-200: oklch(0% 0 0);
    --color-base-300: oklch(0.27 0.0055 286.03);
    --color-base-content: oklch(100% 0 0);
    --color-primary: oklch(0% 0 0);
    --color-primary-content: oklch(100% 0 0);
    --color-secondary: oklch(0% 0 0);
    --color-secondary-content: oklch(100% 0 0);
    --color-accent: oklch(0% 0 0);
    --color-accent-content: oklch(100% 0 0);
    --color-neutral: oklch(0% 0 0);
    --color-neutral-content: oklch(100% 0 0);
    --color-info: oklch(0% 0 0);
    --color-info-content: oklch(100% 0 0);
    --color-success: oklch(0% 0 0);
    --color-success-content: oklch(100% 0 0);
    --color-warning: oklch(0% 0 0);
    --color-warning-content: oklch(98% 0.026 102.212);
    --color-error: oklch(0.577 0.245 27.325);
    --color-error-content: oklch(100% 0 0);
    --radius-selector: 0.5rem;
    --radius-field: 0.5rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.21875rem;
    --border: 1px;
    --depth: 0;
    --noise: 1;
}
.leaflet-control-container .leaflet-routing-container-hide {
    display: none;
}
